@import "bourbon/bourbon";
@import "utilities";

$depth-content-mask: 110;
$depth-too-bar: 100;
$depth-tab-bar: 100;
$depth-content: 90;
$depth-aside: 80;

$left-aside-width: 260px;
$right-aside-width: 260px;
$tool-bar-height: 44px;
$tab-bar-height: 50px;

html, body {
	-webkit-backface-visibility: hidden;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	height: 100%;
	overflow-x: hidden;
	@include transition(all 0.3s ease-in-out);
	background: #F1F1F1;
	overflow: hidden;
}

@include keyframes(SLIDE_OUT_LEFT) {
	from {
		@include transform(translateX(0px));
	}
	to {
		@include transform(translateX(-100%));
	}
}
@include keyframes(SLIDE_IN_LEFT) {
	from {
		@include transform(translateX(-100%));
	}
	to {
		@include transform(translateX(0px));
	}
}
@include keyframes(SLIDE_OUT_RIGHT) {
	from {
		@include transform(translateX(0px));
	}
	to {
		@include transform(translateX(100%));
	}
}
@include keyframes(SLIDE_IN_RIGHT) {
	from {
		@include transform(translateX(100%));
	}
	to {
		@include transform(translateX(0px));
	}
}

@include keyframes(SLIDE_OUT_DOWN) {
	from {
		@include transform(translateY(0px));
	}
	to {
		@include transform(translateY($tab-bar-height));
	}
}
@include keyframes(SLIDE_IN_UP) {
	from {
		@include transform(translateY($tab-bar-height));
	}
	to {
		@include transform(translateY(0px));
	}
}

@include keyframes(OPEN_ASIDE_LEFT) {
	from {
		@include transform(translateX(0px));
	}
	to {
		@include transform(translateX($left-aside-width));
	}
}
@include keyframes(CLOSE_ASIDE_LEFT) {
	from {
		@include transform(translateX($left-aside-width));
	}
	to {
		@include transform(translateX(0px));
	}
}
@include keyframes(OPEN_ASIDE_RIGHT) {
	from {
		@include transform(translateX(0px));
	}
	to {
		@include transform(translateX(-$right-aside-width));
	}
}
@include keyframes(CLOSE_ASIDE_RIGHT) {
	from {
		@include transform(translateX(-$right-aside-width));
	}
	to {
		@include transform(translateX(0px));
	}
}

@include keyframes(FADE_IN){
	from {
		@include opacity(0.1);
	}
	to {
		@include opacity(1);
	}
}
@include keyframes(FADE_OUT){
	from {
		@include opacity(1);
	}
	to {
		@include opacity(0.0);
		display: none;
	}
}

.flex-flow-column {
	@include display(flex);
	@include align-items(stretch);
	@include flex-direction(column);
	@include justify-content(space-between);

	.block {
		@include flex(1);
		&.none-flex {
			@include flex(none);
		}
		//@include order(1);
	}
}
.flex-flow-row {
	@include display(flex);
	@include align-items(center);
	@include flex-direction(row);
	@include justify-content(space-between);

	flex-wrap: nowrap;
	.item {
		@include flex(1);
		&.none-flex {
			@include flex(none);
		}
		//@include order(1);
	}
}

@mixin aside-events(){
	&.open-aside-left{
		@include animation(OPEN_ASIDE_LEFT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX($left-aside-width));
	}
	&.close-aside-left{
		@include animation(CLOSE_ASIDE_LEFT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(0px));
	}
	&.open-aside-right{
		@include animation(OPEN_ASIDE_RIGHT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(-$right-aside-width));
	}
	&.close-aside-right{
		@include animation(CLOSE_ASIDE_RIGHT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(0px));
	}
}

@mixin slide-events(){
	&.slide-out-left {
		@include animation(SLIDE_OUT_LEFT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(-100%));
	}
	&.slide-out-right {
		@include animation(SLIDE_OUT_RIGHT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(100%));
	}
	&.slide-in-left {
		@include animation(SLIDE_IN_LEFT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(0px));
	}
	&.slide-in-right {
		@include animation(SLIDE_IN_RIGHT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(0px));
	}
}

.app-content-mask{
	//@include transition(all 0.5s);
	//background: #000;
	//opacity: 0.1;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: $depth-content-mask;
	@include aside-events();
}

.app-root {
	position: relative;
	height: 100%;

	.app-tool-bar {
		position: fixed;
		left: 0px;
		top: 0px;

		box-sizing: border-box;
		width: 100%;
		height: $tool-bar-height;
		padding: 0px 5px;
		z-index: $depth-too-bar;
		background: #0088BF;
		text-align: center;

		.bar-wrapper{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			box-sizing: border-box;
			padding: 0px 0px;
			&.fadeOut{
				@include animation(FADE_OUT 0.25s $ease-in-out-cubic);
				@include opacity(0.0);
			}
			@include slide-events();
		}
		.bar-title {
			@include transition(all 0.25s);
			@include animation(FADE_IN 0.25s $ease-in-out-cubic);
			position: absolute;
			z-index: 0;
			left:0px;
			top:6px;
			width: 100%;
			text-align: center;
			font-size: 18px;
			color: #FFFFFF;
			line-height: 21px;
			padding: 6px 0px;
		}
		.bar-addon {
			@include transition(all 0.25s);
			@include animation(FADE_IN 0.25s $ease-in-out-cubic);
			position: relative;
			z-index: 10;
			display: block;
			color: #FFCB08;
			font-size: 21px;
			line-height: 21px;
			height:24px;
			padding: 10px;

			&.left {
				float: left;
			}
			&.right {
				float: right;
			}

			i {
				vertical-align: middle;
				display: inline-block;
			}
			.label{
				vertical-align: middle;
				display: inline-block;
				color:#fff;
				padding-top: 3px;
				font-size:15px;
				line-height: 21px;
				height:21px;
			}

			/*
			&.fadeOut{
				@include animation(FADE_OUT 0.25s $ease-in-out-cubic);
				@include opacity(0.0);
			}
			&.fadeIn{
				@include opacity(1.0);
			}
			*/
		}

		@include aside-events();
	}
	.app-aside-left {
		display: none;
		position: absolute;
		left:0px;
		top:0px;
		height: 100%;
		width: $left-aside-width;
		z-index: $depth-aside;
		background: #6a6b77;
		color:#fff;
		a{color:#fff;}
	}
	.app-aside-right {
		display: none;
		position: absolute;
		right:0px;
		top:0px;
		height: 100%;
		width: $right-aside-width;
		z-index: $depth-aside;
		background: #6a6b77;
		color:#fff;
		a{color:#fff;}
	}
	.app-contents-container {
		position: relative;
		height: 100%;
		z-index: $depth-content;
		background: #F1F1F1;
		box-shadow: 0px 0px 10px #000;
		.content-wrapper {
			position: absolute;
			box-sizing: border-box;
			padding-top: $tool-bar-height;
			padding-bottom: $tab-bar-height;
			height: 100%;
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			@include slide-events();
		}
		@include aside-events();
	}

	.app-tab-bar{
		position: fixed;
		bottom: 0px;
		left:0px;
		width: 100%;
		height: $tab-bar-height;
		z-index: $depth-tab-bar;

		&.slide-out-down {
			@include animation(SLIDE_OUT_DOWN 0.25s $ease-in-out-cubic);
			@include transform(translateZ(0));
			@include transform(translateY($tab-bar-height));
		}
		&.slide-in-up {
			@include animation(SLIDE_IN_UP 0.25s $ease-in-out-cubic);
			@include transform(translateZ(0));
			@include transform(translateY(0));
		}

		/* Bar: */
		background: #FFFFFF;

		@include display(flex);
		@include align-items(center);
		@include flex-direction(row);
		@include justify-content(space-between);

		flex-wrap: nowrap;
		.tab-item{
			text-align: center;
			@include flex(1);
			i{
				display: block;
				font-size: 21px;
				color: #A1A1A1;
			}
			.item-label{
				display: block;
				margin-top:5px;
				/* 오늘: */
				font-size: 9.61px;
				color: #A1A1A1;
				letter-spacing: 0.2px;
				line-height: 12px;
			}
			&.on{
				color: #219ECF;
				i{
					color: #219ECF;
				}
				.item-label{
					color: #219ECF;
				}
			}
			&.plus{
				i{
					width:40px;height:40px;
					margin:auto;
					border-radius: 50%;
					/* Oval 8: */
					background: #FFCB08;
					color: #fff;
					line-height: 40px;
				}
			}
		}
	}
}