@import "bourbon/bourbon";
@import "utilities";

$depth-content-mask: 110;
$depth-navigation: 100;
$depth-content: 90;
$depth-aside: 80;

$left-aside-width: 260px;
$right-aside-width: 260px;


html, body {
	-webkit-backface-visibility: hidden;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	height: 100%;
	overflow-x: hidden;
	@include transition(all 0.3s ease-in-out);
	background: #F1F1F1;
}

@include keyframes(SLIDE_OUT_LEFT) {
	from {
		@include transform(translateX(0px));
	}
	to {
		@include transform(translateX(-100%));
	}
}
@include keyframes(SLIDE_IN_LEFT) {
	from {
		@include transform(translateX(-100%));
	}
	to {
		@include transform(translateX(0px));
	}
}
@include keyframes(SLIDE_OUT_RIGHT) {
	from {
		@include transform(translateX(0px));
	}
	to {
		@include transform(translateX(100%));
	}
}
@include keyframes(SLIDE_IN_RIGHT) {
	from {
		@include transform(translateX(100%));
	}
	to {
		@include transform(translateX(0px));
	}
}

@include keyframes(OPEN_ASIDE_LEFT) {
	from {
		@include transform(translateX(0px));
	}
	to {
		@include transform(translateX($left-aside-width));
	}
}
@include keyframes(CLOSE_ASIDE_LEFT) {
	from {
		@include transform(translateX($left-aside-width));
	}
	to {
		@include transform(translateX(0px));
	}
}
@include keyframes(OPEN_ASIDE_RIGHT) {
	from {
		@include transform(translateX(0px));
	}
	to {
		@include transform(translateX(-$right-aside-width));
	}
}
@include keyframes(CLOSE_ASIDE_RIGHT) {
	from {
		@include transform(translateX(-$right-aside-width));
	}
	to {
		@include transform(translateX(0px));
	}
}

@include keyframes(FADE_IN){
	from {
		@include opacity(0.1);
	}
	to {
		@include opacity(1);
	}
}
@include keyframes(FADE_OUT){
	from {
		@include opacity(1);
	}
	to {
		@include opacity(0.0);
		display: none;
	}
}

.flex-flow-column {
	@include display(flex);
	@include align-items(stretch);
	@include flex-direction(column);
	@include justify-content(space-between);

	.block {
		@include flex(1);
		&.none-flex {
			@include flex(none);
		}
		//@include order(1);
	}
}
.flex-flow-row {
	@include display(flex);
	@include align-items(center);
	@include flex-direction(row);
	@include justify-content(space-between);

	flex-wrap: nowrap;
	.item {
		@include flex(1);
		&.none-flex {
			@include flex(none);
		}
		//@include order(1);
	}
}

@mixin aside-events(){
	&.open-aside-left{
		@include animation(OPEN_ASIDE_LEFT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX($left-aside-width));
	}
	&.close-aside-left{
		@include animation(CLOSE_ASIDE_LEFT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(0px));
	}
	&.open-aside-right{
		@include animation(OPEN_ASIDE_RIGHT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(-$right-aside-width));
	}
	&.close-aside-right{
		@include animation(CLOSE_ASIDE_RIGHT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(0px));
	}
}

@mixin slide-events(){
	&.slide-out-left {
		@include animation(SLIDE_OUT_LEFT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(-100%));
	}
	&.slide-out-right {
		@include animation(SLIDE_OUT_RIGHT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(100%));
	}
	&.slide-in-left {
		@include animation(SLIDE_IN_LEFT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(0px));
	}
	&.slide-in-right {
		@include animation(SLIDE_IN_RIGHT 0.25s $ease-in-out-cubic);
		@include transform(translateZ(0));
		@include transform(translateX(0px));
	}
}

.app-content-mask{
	//@include transition(all 0.5s);
	//background: #000;
	//opacity: 0.1;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: $depth-content-mask;
	@include aside-events();
}

.app-root {
	position: relative;
	height: 100%;

	.app-navagation-bar {
		position: fixed;
		left: 0px;
		top: 0px;

		box-sizing: border-box;
		width: 100%;
		height: 44px;
		padding: 0px 5px;
		z-index: $depth-navigation;
		background: #0088BF;
		text-align: center;

		.bar-wrapper{
			position: absolute;
			top: 6px;
			left: 0px;
			width: 100%;
			&.fadeOut{
				@include animation(FADE_OUT 0.25s $ease-in-out-cubic);
				@include opacity(0.0);
			}
			@include slide-events();
		}
		.bar-title {
			@include transition(all 0.25s);
			@include animation(FADE_IN 0.25s $ease-in-out-cubic);
			position: absolute;
			z-index: 1;
			left:0px;
			top:0px;
			width: 100%;
			text-align: center;
			font-size: 18px;
			color: #FFFFFF;
			line-height: 21px;
			padding: 6px 0px;
		}
		.bar-addon {
			@include transition(all 0.25s);
			@include animation(FADE_IN 0.25s $ease-in-out-cubic);
			position: relative;
			z-index: 2;
			display: block;
			color: #FFCB08;
			font-size: 21px;
			line-height: 21px;
			padding: 5px;

			&.left {
				float: left;
			}
			&.right {
				float: right;
			}

			i {
				vertical-align: middle;
				display: inline-block;
			}
			.label{
				vertical-align: middle;
				display: inline-block;
				color:#fff;
				padding-top: 3px;
				font-size:15px;
				line-height: 21px;
				height:21px;
			}

			/*
			&.fadeOut{
				@include animation(FADE_OUT 0.25s $ease-in-out-cubic);
				@include opacity(0.0);
			}
			&.fadeIn{
				@include opacity(1.0);
			}
			*/
		}

		@include aside-events();
	}
	.app-aside-left {
		position: absolute;
		left:0px;
		top:0px;
		height: 100%;
		width: $left-aside-width;
		z-index: $depth-aside;
	}
	.app-aside-right {
		position: absolute;
		left:0px;
		top:0px;
		height: 100%;
		width: $right-aside-width;
		z-index: $depth-aside;
	}
	.app-contents-container {
		position: relative;
		height: 100%;
		z-index: $depth-content;
		background: #F1F1F1;
		box-shadow: 0px 0px 10px #888;
		.content-wrapper {
			position: absolute;
			box-sizing: border-box;
			padding-top: 44px;
			height: 100%;
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			@include slide-events();
		}
		@include aside-events();
	}
}