<?xml version='1.0' encoding='utf-8'?>
<widget id="com.AXNavigation.test" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>AXNavigation</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <engine name="ios" spec="3.8.0"/>
    <engine name="android" spec="4.0.2"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="WebViewBounce" value="false"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="AlternateContentSrc" value="undefined"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <plugin name="cordova-plugin-inappbrowser" spec="^1.0.1"/>
    <plugin name="cordova-plugin-statusbar" spec="^1.0.1"/>
</widget>
